<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>
<% @workout.weeks.each do |week| %>
<h4>week <%= week.id %></h4>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th>Reps</th>
  </tr>
  <% week.excersize.each do |excersize| %>
  <tr>
    <td><%= excersize.name %></td>
    <td><%= excersize.weight %></td>
    <td>x<%= excersize.reps %></td>
  </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Edit', edit_workout_path(@workout) %>
<%= link_to 'Back', workouts_path %>
