<p id="notice"><%= notice %></p>

<h1>Excersizes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Sets</th>
      <th>Week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @excersizes.each do |excersize| %>
      <tr>
        <td><%= excersize.name %></td>
        <td><%= excersize.reps %></td>
        <td><%= excersize.weight %></td>
        <td><%= excersize.sets %></td>
        <td><%= excersize.week_id %></td>
        <td><%= link_to 'Show', excersize %></td>
        <td><%= link_to 'Edit', edit_excersize_path(excersize) %></td>
        <td><%= link_to 'Destroy', excersize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Excersize', new_excersize_path %>
