<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @excersize.name %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @excersize.reps %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @excersize.weight %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @excersize.sets %>
</p>

<p>
  <strong>Week:</strong>
  <%= @excersize.week_id %>
</p>

<%= link_to 'Edit', edit_excersize_path(@excersize) %> |
<%= link_to 'Back', excersizes_path %>
