<!DOCTYPE html>
<html>
  <head>
    <title>Powerlift</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-lg-4">
          <%=render 'layouts/navbar' %>
          </div>
          <div class="col-sm-8 col-lg-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    </body>
  </html>
